
/* font setting */
@font-face {
    font-family: normal-title;
    font-weight: 400;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype")
}

@font-face {
    font-family: normal-title;
    font-weight: 700;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}

@font-face {
    font-family: normal-title;
    font-weight: 400;
    unicode-range: U+00-024F;
    font-display: swap;
    src: url(font/Press_Start_2P/PressStart2P-Regular.ttf) format("truetype");
}

@font-face {
    font-family: zh-title;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}

@font-face {
    font-family: zh-normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype")
}

@font-face {
    font-family: en-title;
    font-display: swap;
    src: url(font/Press_Start_2P/PressStart2P-Regular.ttf) format("truetype");
}

@font-face {
    font-family: en-normal;
    font-display: swap;
    src: url(font/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: normal-font;
    font-weight: 400;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}

@font-face {
    font-family: normal-font;
    font-weight: 700;
    unicode-range: U+4E00-9FFF;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"),url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}

@font-face {
    font-family: normal-font;
    font-weight: 400;
    unicode-range: U+00-024F;
    font-display: swap;
    src: url(font/Roboto-Light.ttf) format("truetype");
}

.normal-font{
    font-family: normal-font;
}